html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background: url(../Building_Image/Building_Photo.jpeg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  height: 77vh;
  background-color: #fff;
  max-width: 300px;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 30px grey;
}

.login-page-header h2 {
  font-size: 3rem;
  color: grey;
  margin-top: 1.5rem;
  letter-spacing: 2px;
}

.form-control {
  border: 1px solid #ced4da;
  outline: 0;
  max-width: 80vw;
  width: 80%;
  padding: 1.8rem 1rem;
  border-radius: 1rem;
}

::placeholder {
  font-family: "Poppins";
  font-weight: 800;
  opacity: 0.5;
}

.username {
  margin-bottom: 3.5rem;
}

.password {
  border: 0;
  flex-grow: 1;
  padding-left: 0;
}

.checkbox-section {
  display: flex;
  justify-content: flex-start;
  padding: 0.3rem 0 0 3.4rem;
  font-size: 1.1rem;
}

p {
  display: inline-block;
  font-weight: 600;
  color: grey;
  padding: 0 0.5rem;
}

.form-control .password {
  width: 100%;
}

.form-control .control-username {
  width: 100%;
}

.btn {
  outline: 0;
  border-radius: 1rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 40%;
  background: linear-gradient(
    124deg,
    rgba(85, 215, 221, 1) 0%,
    rgba(0, 125, 255, 1) 100%
  );
  color: #fff;
  border: none;
  padding: 1rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
  margin: 2rem 0 1rem 0;
}

.forgot-password {
  font-size: 2rem;
  display: block;
  margin: 2rem 0;
  text-decoration: none;
  color: #2688ed;
  font-weight: 1000;
}

.login-page-footer {
  margin-bottom: 12rem;
}

.login-page-footer p {
  display: inline-block;
  font-size: 1.2rem;
  margin: 6rem 0 0 0;
}

.forgot-password {
  color: #2688ed;
  text-decoration: none;
  margin: 3rem 0 0 0;
}

.input-group {
  border: 1px solid #ccc;
  border-radius: 1rem;
  width: 86%;
  margin-left: 1.9rem;
}

.icon-closed-eye {
  font-size: 2rem;
  color: #ccc;
}

.password-input {
  width: 85%;
}

.sign-up {
  text-decoration: none;
  color: #2f87e2;
  font-weight: 900;
  margin-left: 0.3rem;
}

@media screen and (min-width: 1024px) {
  .input-group {
    max-width: 80vw;
    margin-left: 3.3rem;
  }

  .container {
    max-width: 450px;
  }

}
